*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0; 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: goldenrod;
}
header {
     margin:1%; 
     padding: 10px;
    font-size: 35px;
    border-radius: 30%;
    background-color: indianred;
}

.image {
    max-width: 300px;
    max-height: 250px;
}

.clock {
     margin:1%; 
    padding: 1%;
    border-radius: 20px;
    text-align: center;
    color:bisque;
    font-size: 45px;
    font-weight: bolder;
    background-size: cover;
    background-image: 50%;
    background-color: lightseagreen; 


}
.quizbox {
    width: 800px;
    max-width: 75%;
    background-color: honeydew;
    border-radius: 10px;
    padding: 5px;
}
.question {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.choice-grid {
    display: grid;
    grid-template-columns:repeat(3);
    gap: 25px;
    margin: 40px;
}

.btn{
    border: 3px solid;
    border-color: black;
    background-color: lightslategray;
    border-radius: 25px;
    padding: 10px 15px;
    color: linen;
    outline: none;
    font-size: 25px;
}
.correct {
    background-color: darkseagreen ;
}
.wrong {
    background-color: firebrick;
}

.btn:hover {
    background-color: burlywood;
}
.btn:active {
    transform: translateY(6px);
}

.begin-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.continue-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.be-con {
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

 .hide {
    display: none;
} 